@tailwind utilities;


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  background-color: #F3F2F9;
}

.bg-image {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: 125%;
  animation: pan-bg 60s linear infinite;
  z-index: 0;
  pointer-events: none;
}

.bg-image-1 {
  background: url('/assets/images/buswallpaper.jpg') no-repeat 0% 50%;
  animation: pan-bg 60s linear infinite, fade-bg-1 20s linear infinite;
}

.bg-image-2 {
  background: url('/assets/images/buswallpaper2.jpg') no-repeat 0% 50%;
  animation: pan-bg 60s linear infinite, fade-bg-2 20s linear infinite;
}

.bg-image-3 {
  background: url('/assets/images/buswallpaper3.png') no-repeat 0% 50%;
  animation: pan-bg 60s linear infinite, fade-bg-3 20s linear infinite;
}

.bg-image-4 {
  background: url('/assets/images/buswallpaper4.png') no-repeat 0% 50%;
  animation: pan-bg 60s linear infinite, fade-bg-4 20s linear infinite;
}

.bg-image5 {
  background: url('/assets/images/buswallpaper5.png') no-repeat 0% 50%;
  animation: pan-bg 60s linear infinite, fade-bg-4 20s linear infinite;
}


/* Pan animation (same for all) */
@keyframes pan-bg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Fade animations for 4 images (each visible for 25% of the cycle) */
@keyframes fade-bg-1 {
  0%, 20% {
    opacity: 1;
  }
  25%, 100% {
    opacity: 0;
  }
}

@keyframes fade-bg-2 {
  0%, 20% {
    opacity: 0;
  }
  25%, 45% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes fade-bg-3 {
  0%, 45% {
    opacity: 0;
  }
  50%, 70% {
    opacity: 1;
  }
  75%, 100% {
    opacity: 0;
  }
}

@keyframes fade-bg-4 {
  0%, 70% {
    opacity: 0;
  }
  75%, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-bg-5 {
  0%, 70% {
    opacity: 0;
  }
  75%, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}